<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Pages</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
   
    <ion-list>
      <!--<button ion-item (click)="openPage(loginPage)">
        Log out
      </button>
      <button ion-item (click)="openPage(signupPage)">
        
      </button>-->
  <button ion-item icon-left *ngFor="let p of pages" (click)="openPage(p)">
    <ion-icon name="ios-share-alt-outline"></ion-icon>
    {{ p.title }}
  </button>  
  </ion-list>
      <!--<button ion-item *ngFor="let p of pages" (click)="openPage(p)" >
         {{p.title}}
      </button>
      <button ion-item (click)="logout()">logout</button>-->
  </ion-content>
</ion-menu>

<ion-nav id="nav" #content [root]="rootPage" swipe-back-enabled="false" ></ion-nav>